extends layout.pug

block content
  h1 Introduce tu nombre ‼️
  .row 
    .col-4
      form(action="/select-username", method="POST")
        .mb-3 
          label.form-label Nombre de usuario
          input.form-control(type="text", name="username")
        input.btn.btn-info(type="submit", value="Enviar")